.order_list {
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(18, 149, 237);
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  list-style: none;
}
