.product_item {
  background-color: #fff;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 9px 9px 20px #5854544c;
  color: #fff;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 20px;
  max-width: 400px;
}

.product_item .text {
  word-wrap: break-word;
  max-width: 300px;
  overflow: hidden;
}

.product_item img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.product_item h1 {
  color: #303030;
  font-size: 18px;
}

.product_item p {
  word-wrap: break-word;
  color: #5f5f5f;
}
