* {
  margin: 0;
  padding: 0;
}
.main_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}

.create_form {
  background-color: #fff;
  overflow: hidden;
  padding: 60px;
  max-width: 800px;
  margin: auto;
}

main {
  flex: 2;
}
